.widget-front {
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding-bottom: 5px  ;
    border-bottom: 1px solid rgb(149, 151, 159);
  }

  &__top-city {
    &.skeleton {
      width: 80px;
    }
  }

  &__preview {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(149, 151, 159);
    margin-bottom: 10px;
  }

  &__preview-img {
    max-width: 130px;
    max-height: 130px;
    margin-right: 15px;
  }

  &__info {
    text-align: center;
    font-style: italic;
  }

  &__data-item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    &.skeleton {
      width: 92px;
    }
  }

  &__data-icon {
    width: 25px;
    margin-right: 10px;
  }
}
