.widget-settings {
  height: 350px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding-bottom: 5px  ;
    border-bottom: 1px solid rgb(149, 151, 159);
  }

  &__cities {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(149, 151, 159);
  }

  &__city {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 15px;
    align-items: center;
    background-color:  rgba(149, 151, 159, 0.8);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  &__delete,
  &__move {
    width: 20px;
    height: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    background-color:  rgba(149, 151, 159, 0.9);
    padding: 7px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  &__empty {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
  }

  &__submit {
    margin-left: auto;
    background-color: #fff;
    color: #000000;
    padding: 7px 10px;
    border-radius: 5px;
    transition: opacity 0.5s;
    align-self: end;
    &:hover {
      opacity: 0.7;
    }
  }

  &__close {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: #FFFFFF;
    }

    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
}
